body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin: 10vh 20vh;
}

h2 {
  text-align: center;
  margin: 0 0 0 -15vh;
}

.form-actions{
  margin: 0;
  text-align: center;
}

.list-items {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  width: 60vh;
  margin: 0 auto;
}

.ltl-list {
  display: flex;
  align-items: center;
}

.inline {
  display: inline-block;
}

main {
  margin: 5vh 5vh 5vh 20vh;
}

.list-text {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.display-info {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5vh;
}

.add-room {
  margin: 10vh 50vh;
}

.center-text {
  text-align: center;
}

.show-heading {
  font-size: 25px;
  font-weight: bold;
}

.delete-form {
  margin: 5vh;
}

.studio-list {
  display: flex;
  justify-content: center;;
}

.add-room {
  margin: 0vh;
}

.teacher {
  font-style: italic;
  font-size: 24px;
  text-align: center;
  margin: 5vh 0 5vh -15vh;
}

.main-page {
  /* display: flex; */
  text-align: center;
  margin: 30vh auto;
}

.main-icon {
  font-size: 20vh;
}

.italic {
  font-style: italic;
}